
*{
    margin: 0;
    padding: 0;
}

nav{
    background-color: black;
    padding: 20px;
    color: white;
}

li,h1{
    display: inline;
}

ul{
    margin-left: 60%;
    display: inline;
}


li {
    color: grey;
    text-decoration: none;
}



li:hover{
    color: white;
}


input{
    width: 70%;
    padding: 10px;
}



.Search {
    
    
    text-align: center;
    padding: 30px;
}



.products{
    display: flex;          
    justify-content: center;
    gap: 20px;
    padding: 30px;
    text-align: center;
}

.box{
    border: solid black 2px;
    width: 250px;
}

.box img{
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.box:hover{
    border-color: black;
    background-color: black;
    color: white;
}


.About{
    text-align: center;
    
}

.About h1{
    color: red;
}

.About p{
    padding: 20px;
    font-size: larger;
}


.footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

.contact{
    padding: 5px;
}

.para{
    
    margin-top: 25px;
}